/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-grow: 1;
}

/* Estilo del navbar */
nav {
    width: 200px; /* Ancho fijo del navbar */
    background-color: #333;
    color: white;
    padding: 20px;
    height: 100vh; /* El navbar ocupa toda la altura de la página */
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin-bottom: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
    padding: 5px;
}

/* Contenido principal */
main {
    /* margin-left: 200px; */
    /* padding: 20px; */
    width: 100%;
    background-color: #f4f4f4;
}

/* Estilo del footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* Usado para los links internos de Ventas */
/* .link-nav-interno-activo{
    background-color: #ac2626; 
    font-weight: bold;       
    color: #000;  
} */

/*Usado para la barra de busqueda de productos en ventas*/
.dropdown {
    border: 1px solid #ccc;
    background: white;
    position: absolute; /* Para que se superponga */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    display: none; /* Inicialmente oculto */
}

.dropdown div {
    padding: 10px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el elemento */
}

.dropdown div:hover {
    background-color: #f0f0f0; /* Cambia el color al pasar el mouse */
}


/*Estilos de gráficos dashboard*/
.chart-container {
    margin-top: 3cqi;
    width: 100%;
    height: 75vh;
    max-width: 1400px; /* Máximo ancho para cada gráfico */
    border: 1px solid blue;
}
.chart {
    border: 1px solid red;
    width: 98%; 
    height: 48%;
    max-width: 1400px;
    margin-bottom: 20px;
    max-height: 500px;
}